body {
        margin: 0;
        font-family: Arial, sans-serif;
      }

      .layout {
        display: flex;
        height: 100vh;
      }

      /* Sidebar */
      .sidebar {
        width: 220px;
        background: #1e293b;
        color: white;
        padding: 20px;
      }

      .sidebar h2 {
        text-align: center;
        margin-bottom: 30px;
      }

      .sidebar a {
        display: block;
        padding: 12px;
        color: white;
        text-decoration: none;
        border-radius: 6px;
        margin-bottom: 10px;
        cursor: pointer;
      }

      .sidebar a:hover,
      .sidebar a.active {
        background: #3b82f6;
      }

      /* Content */
      .content {
        flex: 1;
        padding: 30px;
        background: #f1f5f9;
      }

      .section {
        display: none;
        overflow: visible;
      }

      .section.active {
        display: block;
      }

      h1 {
        margin-top: 0;
      }

/* ===== TABLE ===== */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th {
  background: #34495e;
  color: #fff;
  padding: 12px;
  text-align: left;
}

td {
  padding: 10px 12px;
  border-bottom: 1px solid #e5e7e9;
}

tr:hover {
  background: #f2f4f4;
}

.actions a {
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 14px;
  text-decoration: none;
  margin-right: 6px;
}

.btn-update, .btn-loan {
  background: #3498db;
  color: white;
}

.btn-update:hover, .btn-loan:hover {
  background: #2e86c1;
}

/* ===== DELETE BUTTON ===== */
.btn-delete {
  background-color: #e74c3c; /* Red for danger */
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 6px; /* space for icon if needed */
  transition: 0.3s;
}

.btn-delete:hover {
  background-color: #c0392b; /* darker red on hover */
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.btn-delete i {
  font-size: 14px;
}


/* ===== INFO ICON ===== */
.fa-circle-info {
  color: #2980b9;
  font-size: 18px;
}

.fa-circle-info:hover {
  color: #1f618d;
}
      .add-btn {
  background: #1abc9c;
  color: #fff;
  padding: 10px 14px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.add-btn:hover {
  background: #16a085;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999; 
}

.modal-content {
  background: #fff;
  width: 75%;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  max-height: 90vh;
  overflow-y: auto;
}

.close-btn {
  float: right;
  font-size: 26px;
  cursor: pointer;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1{
    margin: 0   ;
}